
.grid-parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
  }
  .grid-header {
    background: pink;
    grid-column: span 4;
    font-size: 30px;
    color: palevioletred;
  }

  .grid-item {
    background: pink;
    grid-column: span 1;
    font-size: 20px;
    color: rgb(206, 66, 112);
  }

  .img {
    width: 50px;
    length: 50px;
  }

  .flex-parent {
    border: 10px dotted;
    border-color:rgb(206, 66, 112)
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-child {
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color:rgb(206, 66, 112)
    padding: 50px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }